<html>
  <%- include('headerIncludes'); -%>
  <body>
    <%- include('navbar', {displayPage: 'userPage', userName: userData[dbConfig.colUserName], roles: [userData[dbConfig.colRole], userData[dbConfig.colAdmin]]}); -%>
    <!-- <div class="jumbotron cust-jumbotron justify-content-center">
      <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies
            mi sit amet mollis porta. Aliquam euismod sapien vitae facilisis
            convallis. Vivamus ut lorem sapien. Cras tristique ligula nec enim gravida
            vestibulum.
      </p>
    </div> -->

    <!--Display all the important info as one liners-->
    <div class="container  justify-content-center mt-5">
      <!--for each user there will be a row-->
        <div class="row no-gutters bg-info position-relative ml-4 cust-border-round">
          <!--For adding homework details-->
          <div class="col-sm-8 position-static pt-sm-2 ml-4"> <!--pb-3 pr-sm-5 pt-sm-5 mt-4-->

            <!--
              homeworkData,
              allSubjectsAndGrades,
              distinctSubjectsList,
              userData: request.userInfo,
              dbConfig: db_config,
            -->
            <form action="/homework/<%=homeworkData[dbConfig.colID]%>/edit?_method=PUT" method="POST" enctype=multipart/form-data>
              <h6><i><b><%=homeworkData[dbConfig.colTitle]%></b></i></h6>

              <!--Created On-->
              <% if(homeworkData[dbConfig.colCreatedAt] !== undefined && homeworkData[dbConfig.colCreatedAt] != null && homeworkData[dbConfig.colCreatedAt] !== '' ) {%> 
                <div class="row form-row form-group ">
                  <label for="<%= dbConfig.colCreatedAt%>" class="col-3 col-form-label"><%= dbConfig.descCreatedAt%>:</label>
                  <input  type="text"  id="<%= dbConfig.colCreatedAt%>" class="form-control col-6" name="<%= dbConfig.colCreatedAt%>" value="<%=homeworkData[dbConfig.colCreatedAt].toDateString()%>" readonly />
                </div>
              <% } %> 

              <!--Last Updated on-->
              <% if(homeworkData[dbConfig.colEditedAt] !== undefined) {%> 
                <% if(homeworkData[dbConfig.colEditedAt] !== undefined && homeworkData[dbConfig.colEditedAt] != null && homeworkData[dbConfig.colEditedAt] !== '' ) {%> 
                  <div class="row form-row form-group ">
                      <label for="<%= dbConfig.colEditedAt%>" class="col-form-label col-3"><%= dbConfig.descEditedAt%>:</label>
                      <input  type="text"  id="<%= dbConfig.colEditedAt%>" class="form-control col-6" name="<%= dbConfig.colEditedAt%>" value="<%=homeworkData[dbConfig.colEditedAt].toDateString()%>" readonly />
                  </div>
                <% } %> 
              <% } %> 

              <!--Display Grades & Subjects Selection Box, with already existing values as selected-->
              <% if(allSubjectsAndGrades.dataSubjectGrade !== undefined){ %> 
                <%- include('gradeSelectList', {dataSubjectGrade: allSubjectsAndGrades.dataSubjectGrade, displaySubjectCombo: true, distinctSubjectsList: distinctSubjectsList, existingData: homeworkData}) -%>
              <% } %> 

              <!--Status-->
              <%- include('statusList') -%> 

              <!--Title-->
              <div class="row form-row form-group ">
                <label for="<%= dbConfig.colTitle%>" class="col-form-label col-3"><%= dbConfig.descTitle%>:</label>
                <input  type="text"  id="<%= dbConfig.colTitle%>" class="form-control col-6" name="<%= dbConfig.colTitle%>" value="<%=homeworkData[dbConfig.colTitle]%>" />
              </div>

              <!--Homework Description-->
              <div class="row form-row form-group ">
                <label for="<%= dbConfig.colHwrkDesc%>" class="col-form-label col-3"><%= dbConfig.descHwrkDesc%>:</label>
                <textarea  type="text"  id="<%= dbConfig.colHwrkDesc%>" rows="5" class="form-control col-9" name="<%= dbConfig.colHwrkDesc%>"><%=homeworkData[dbConfig.colHwrkDesc]%></textarea>
              </div>

              <!--FilePath-->
              <div class="row ">
               <label for="old_<%=dbConfig.colFilePath%>" class="col-form-label col-3">Old <%= dbConfig.descFilePath%>:</label>
                <a href="/<%=homeworkData[dbConfig.colFilePath]%>" id="old_<%= dbConfig.colFilePath%>" download="hw_<%=homeworkData[dbConfig.colFilePath]%>" class="text-secondary col-6"><%=homeworkData[dbConfig.colFilePath]%></a>
              </div>

              <div class="row form-row form-group ">
                <label for="<%= dbConfig.colFilePath%>" class="col-form-label col-3"><%= dbConfig.descFilePath%>:</label>
                <input  type="file" class="col-6" id="<%= dbConfig.colFilePath%>" name="<%= dbConfig.colFilePath%>"/>
              </div>

              <input type="submit" class="btn btn-sm btn-dark" value="Submit Homework">
            </form>

          </div>
        </div>
    </div>

    
    <%- include('footerIncludes'); -%>
  </body>
</html>

