<!--Grade selection box-->
<%if(dataSubjectGrade.length !== 0 ){%>
<div class="row form-row form-group">
  <label for="grades" class="col-sm-3 col-form-label">Grade:</label>
  <div class="col-sm-8">
    <select name="grade" id="grades">
      <%dataSubjectGrade.forEach((rowGrade) => {%>
        <!--If this form is diplayed as part of editing data, make the item selected-->
    
        <% if((existingData !== undefined) && (existingData !== '')) {%> 
          <% if( rowGrade.grade === existingData.grade ) { %> 
            <option value="<%=rowGrade.grade%>" selected><%= rowGrade.grade%></option>
          <% } else {%> 
            <option value="<%=rowGrade.grade%>"><%= rowGrade.grade %></option>            
          <% } %> 
        <% } else {%> 
          <!--Value in "value" will be submitted. Not name.-->
          <option value="<%=rowGrade.grade%>"><%= rowGrade.grade %></option>
        <% } %> 
      <%});%>
    </select>
  </div>
</div>
<% if(displaySubjectCombo === true) {%> 
  <%- include('subjectSelectList', {distinctSubjectsList: distinctSubjectsList, existingData: existingData}); -%>
<% } %> 
<%}%>
