<html>
  <%- include('headerIncludes'); -%>
  <body>
    <%- include('navbar', {displayPage: 'userPage', userName: userName, user: roles}); -%>
    <div class="jumbotron cust-jumbotron justify-content-center mb-3 mr-5 ml-5 p-5 border-bottom border-top">
      <!-- <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies
            mi sit amet mollis porta. Aliquam euismod sapien vitae facilisis
            convallis. Vivamus ut lorem sapien. Cras tristique ligula nec enim gravida
            vestibulum.
      </p> -->
      <h5 class="text-center ">List of all Users</h5>
      <a href="/" class="btn btn-sm rounded-0 btn-over-stretched" role="button" data-placement="top">Back</a>
    </div>
    <!--Display all the important info as one liners-->
    <div class="container  justify-content-center ml-4 p-3">
      <!--for each user there will be a row-->
      <% userData.forEach((singleUserRow, index) => {%>
        <div class="row no-gutters cust-bg-color position-relative ml-4 border cust-border-round">
          <!--For adding user image-->
          <div class="col-sm-2 mb-sm-0 p-sm-2">
            <img src="./images/user_icon.png" class="img-thumbnail w-1 rounded-circle" style="width: 50%;" alt="user_icon" data-holder-rendered="true">
            <h6 class="cust-text-color-light"><%=singleUserRow[dbDescColNames.colFirstName]%> <%=singleUserRow[dbDescColNames.colLastName]%></h6>
          </div>
          <!--For adding user details-->
          <div class="col-sm-8 position-static pt-sm-2"> <!--pb-3 pr-sm-5 pt-sm-5 mt-4-->
            <ul class="list-group">
              <li class="list-group-item cust-bg-color-light border-0 py-1"><i><b><%=dbDescColNames.descInstID%>: </b></i><%=singleUserRow[dbDescColNames.colInstID]%></li>
              <li class="list-group-item cust-bg-color-light border-0 py-1"><i><b><%=dbDescColNames.descEmail%>: </b></i><%=singleUserRow[dbDescColNames.colEmail]%></li>
            </ul>
            <!-- <a href="#" class="btn btn-primary stretched-link">Get Details</a> -->
            <a href="#collapse_<%=index%>" class="stretched-link" data-toggle="collapse" aria-expanded="false" aria-controls="collapse_<%=index%>" ></a>

            <div class="collapse " id="collapse_<%=index%>">
              <div class="card card-body bg-transparent border-0 cust-text-color-light">
                <ul class="list-group">
                  <li class="list-group-item  bg-transparent border-0 py-1"><i><b><%=dbDescColNames.descUserName%>: </b></i><%=singleUserRow[dbDescColNames.colUserName]%></li>

                  <li class="list-group-item bg-transparent border-0 py-1"><i><b><%=dbDescColNames.descRole%>: </b></i><%=(singleUserRow[dbDescColNames.colRole] === 1) ? "Teacher" : ((singleUserRow[dbDescColNames.colRole] === 2) ? "Student" : "Staff") %></li>

                  <li class="list-group-item bg-transparent border-0 py-1"><i><b><%=dbDescColNames.descJoiningDate%>: </b></i><%=singleUserRow[dbDescColNames.colJoiningDate].toUTCString()%></li>

                  <li class="list-group-item bg-transparent border-0 py-1"><i><b><%=dbDescColNames.descContactNumber%>: </b></i><%=singleUserRow[dbDescColNames.colContactNumber]%></li>

                  <li class="list-group-item bg-transparent border-0 py-1"><i><b><%=dbDescColNames.descAddress%>: </b></i><%=singleUserRow[dbDescColNames.colAddress]%></li>

                  <li class="list-group-item bg-transparent border-0 py-1"><i><b><%=dbDescColNames.descEmail%>: </b></i><%=singleUserRow[dbDescColNames.colEmail]%></li>
                </ul>
              </div>
            </div>
          </div>
          <!--To add the edit and delete buttons-->
          <!--NOT SUPPORTED NOW-->
          <!-- <div class="col-sm-2 card card-body cust-bg-color border-0">
            <ul>
              <li class="list-inline-item bg-transparent border-0">
               <a href="/user/<%#=singleUserRow[dbDescColNames.colID]%>/edit" class="btn btn-sm rounded-0 btn-over-stretched" role="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit fa-lg"></i> Edit</a>
              </li>
              <li class="list-inline-item bg-transparent border-0">-->
                <!-- <button class="btn btn-sm rounded-0 btn-over-stretched" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash fa-lg"></i>  </button> -->
                <!--<a href="/user/<%#=singleUserRow[dbDescColNames.colID]%>/delete" class="btn btn-sm rounded-0 btn-over-stretched" role="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash fa-lg"></i> Delete</a>
              </li>
            </ul>
          </div> -->
        </div>
      <%}); %> 
    </div>
    
    <%- include('footerIncludes'); -%>
  </body>
</html>

