<html>
  <%- include('headerIncludes'); -%>
  <body>
    <%- include('navbar', {displayPage: 'userPage', userName: userData[dbConfig.colUserName], roles: [userData[dbConfig.colRole], userData[dbConfig.colAdmin]]}); -%>
    <div class="jumbotron cust-jumbotron justify-content-center">
      <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies
            mi sit amet mollis porta. Aliquam euismod sapien vitae facilisis
            convallis. Vivamus ut lorem sapien. Cras tristique ligula nec enim gravida
            vestibulum.
      </p>
    </div>

    <!--
      homeworkList: dataHomeworkSubject.homeworkList,
        userData: dataHomeworkSubject.userData,
        dbConfig: db_config,
    -->

    <!--Display all the important info as one liners-->
    <div class="container  justify-content-center ">
      <% if(homeworkList.length === 0) { %> 
        <div class="alert alert-info col-sm-4 offset-sm-4" role="alert">
            No homework till now by you!
        </div>
      <% } %> 
      <!--for each user there will be a row-->
      <% homeworkList.forEach((singleHomework, index) => {%>
        <div class="row no-gutters bg-info position-relative ml-4 cust-border-round">
          <!--For adding image-->
          <div class="col-sm-2 mb-sm-0 p-sm-2">
            <img src="./images/pencil_smile_small.png" class="img-thumbnail w-1 rounded-circle" style="width: 50%;" alt="pencil_smile_small" data-holder-rendered="true">
            <h6 class="text-dark"><%=singleHomework[dbConfig.colCurrentStatus]%></h6>
          </div>
          <!--For adding homework details-->
          <div class="col-sm-8 position-static pt-sm-2"> <!--pb-3 pr-sm-5 pt-sm-5 mt-4-->
            <ul class="list-group">
              <!--
                Subject, Grade, Title, Homework Description, FilePath, Posted on:, Last edited on:
              -->
              <li class="list-group-item list-group-item-info border-0 py-1"><i><b><%=dbDescColNames.descSubjectName%>: </b></i><%=singleHomework[dbDescColNames.colSubjectName]%></li>
              <li class="list-group-item list-group-item-info border-0 py-1"><i><b><%=dbDescColNames.descGrade%>: </b></i><%=singleHomework[dbDescColNames.colGrade]%></li>
              <li class="list-group-item list-group-item-info border-0 py-1"><i><b><%=dbDescColNames.descTitle%>: </b></i><%=singleHomework[dbDescColNames.colTitle]%></li>
              <li class="list-group-item list-group-item-info border-0 py-1"><i><b><%=dbDescColNames.descCreatedAt%>: </b></i><%=singleHomework[dbDescColNames.colCreatedAt].toDateString()%></li>
              <% if(singleHomework[dbDescColNames.colEditedAt] !== undefined) {%> 
                <li class="list-group-item list-group-item-info border-0 py-1"><i><b><%=dbDescColNames.descEditedAt%>: </b></i><%=singleHomework[dbDescColNames.colEditedAt].toDateString()%></li>
              <% } %> 
            </ul>
            <a href="/homework/<%=singleHomework[dbDescColNames.colID]%>" class="btn btn-primary stretched-link"></a>
          </div>
          <!--To add the edit and delete buttons-->
          <div class="col-sm-2 card card-body bg-info border-0">
            <ul>
              <li class="list-inline-item bg-transparent border-0">
              <!-- <button class="btn btn-sm rounded-0 btn-over-stretched" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit fa-lg"></i></button> -->

               <a href="/homework/<%=singleHomework[dbDescColNames.colID]%>/edit" class="btn btn-sm rounded-0 btn-over-stretched" role="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit fa-lg"></i></a>
              </li>
              <li class="list-inline-item bg-transparent border-0">
                <!-- <button class="btn btn-sm rounded-0 btn-over-stretched" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash fa-lg"></i>  </button> -->
                <a href="/homework/<%=singleHomework[dbDescColNames.colID]%>/delete" class="btn btn-sm rounded-0 btn-over-stretched" role="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash fa-lg"></i></a>
              </li>
            </ul>
          </div>
        </div>
      <%}); %> 
    </div>

    
    <%- include('footerIncludes'); -%>
  </body>
</html>

