<html>
  <%- include('headerIncludes'); -%>
  <body>
    <%- include('navbar', {displayPage: 'userPage', userName: userData[dbConfig.colUserName], roles: [userData[dbConfig.colRole], userData[dbConfig.colAdmin]]}); -%>
    <div class="jumbotron cust-jumbotron justify-content-center text-center ml-5 mr-5 border-bottom border-top">
      <!-- <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies
            mi sit amet mollis porta. Aliquam euismod sapien vitae facilisis
            convallis. Vivamus ut lorem sapien. Cras tristique ligula nec enim gravida
            vestibulum.
      </p> -->
      <h5>List of all Assignments</h5>
    </div>

    <!--
      homeworkList: dataHomeworkSubject.homeworkList,
        userData: dataHomeworkSubject.userData,
        dbConfig: db_config,
    -->

    <!--Display all the important info as one liners-->
    <div class="container  justify-content-center ">
      <% if(homeworkList.length === 0) { %> 
        <div class="alert alert-info col-sm-4 offset-sm-4" role="alert">
            No homework is assigned to you!
        </div>
      <% } %> 
      <!--for each user there will be a row-->
      <% homeworkList.forEach((singleHomework, index) => {%>
        <div class="row no-gutters bg-info position-relative ml-4 mr-4 border-bottom cust-border-round">
          <!--For adding image-->
          <div class="col-sm-2 mb-sm-0 p-sm-2">
            <!--img src="./images/paper_small.jpg" class="img-thumbnail w-1 rounded-circle" style="width: 50%;" alt="pencil_smile_small" data-holder-rendered="true">-->
            <h6 class="text-dark"><%=singleHomework[dbConfig.colCurrentStatus]%></h6>
          </div>
          <!--For adding homework details-->
          <div class="col-sm-8 position-static pt-sm-2"> <!--pb-3 pr-sm-5 pt-sm-5 mt-4-->
            <ul class="list-group">
              <!--
                Subject, Grade, Title, Homework Description, FilePath, Posted on:, Last edited on:
              -->
              <li class="list-group-item list-group-item-info border-0 py-1"><i><b><%=dbConfig.descSubjectName%>: </b></i><%=singleHomework[dbConfig.colSubjectName]%></li>
              <li class="list-group-item list-group-item-info border-0 py-1"><i><b><%=dbConfig.descGrade%>: </b></i><%=singleHomework[dbConfig.colGrade]%></li>
              <li class="list-group-item list-group-item-info border-0 py-1"><i><b><%=dbConfig.descTitle%>: </b></i><%=singleHomework[dbConfig.colTitle]%></li>
              <li class="list-group-item list-group-item-info border-0 py-1"><i><b><%=dbConfig.descCreatedAt%>: </b></i><%=singleHomework[dbConfig.colCreatedAt].toUTCString()%></li>
              <% if(singleHomework[dbConfig.colEditedAt] !== undefined && singleHomework[dbConfig.colEditedAt] != null && singleHomework[dbConfig.colEditedAt] !== '') {%> 
                <li class="list-group-item list-group-item-info border-0 py-1"><i><b><%=dbConfig.descEditedAt%>: </b></i><%=singleHomework[dbConfig.colEditedAt].toUTCString()%></li>
              <% } %> 
            </ul>
            <a href="/homework/<%=singleHomework[dbConfig.colID]%>" class="stretched-link"></a>
          </div>
          <!--To add the edit and delete buttons-->
          <% if(userData[dbConfig.colRole] === dbConfig.roleTeacher) {%> 
            <div class="col-sm-2 card card-body bg-info border-0">
              <ul>
                <li class="list-inline-item bg-transparent border-0">
                <a href="/homework/<%=singleHomework[dbConfig.colID]%>/edit" class="btn btn-sm rounded-0 btn-over-stretched" role="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit fa-lg"></i> Edit</a>
                </li>
                <li class="list-inline-item bg-transparent border-0">
                  <form
                    class="btn-form mr-1"
                    action="/homework/<%=singleHomework[dbConfig.colID]%>/delete?_method=DELETE"
                    method="POST"
                  >
                    <button class="btn btn-sm rounded-0 btn-over-stretched" data-placement="top"><i class="fa fa-trash fa-lg"></i>Delete</button>
                  </form>

                </li>
              </ul>
            </div>
          <% } %> 
          
        </div>
      <%}); %> 
    </div>

    
    <%- include('footerIncludes'); -%>
  </body>
</html>

