<% if(from === 'ejs') {%>
  <%- include('navbar', {displayPage: 'messagePage', userName: userName, user: roles}); -%>
  <div class="container">
      <div class="row">
        <div class="alert alert-info col-sm-4 offset-sm-4" role="alert">
            <p><%=message%></p>
        </div>
      </div>
    </div>
<%  } else if(from === 'js' ){%> 
  <html>
  <%- include('headerIncludes'); -%>
  <body>
    <%- include('navbar', {displayPage: 'messagePage', userName: userName, user: roles}); -%>
    <div class="container">
      <div class="row">
        
        <div class="alert cust-bg-color col-sm-4 offset-sm-4" role="alert">
            <p><%=message%></p>
        </div>
      </div>
    </div>
    <%- include('footerIncludes'); -%>
  </body>
</html>
<% } %> 