<html>
  <%- include('headerIncludes'); -%>
  <body>
    <!--
        dbConfig: db_config,
    allSubjectsAndGrades,
    userName: dataValidity.loggedInUserName,
    roles: dataValidity.loggedInUserRoles,
      -->
     <%- include('navbar', {displayPage: 'userPage', userName: userName, user: roles}); -%>
    <h4 class="h4 text-center mt-4 mb-4">New Homework</h4>
    <div class="container">
      <form action="/newhw" method="POST" enctype="multipart/form-data">
        <!--Display Grades & Subjects Selection Box-->
        <% if(allSubjectsAndGrades.dataSubjectGrade !== undefined){ %> 
          <%- include('gradeSelectList', {dataSubjectGrade: allSubjectsAndGrades.dataSubjectGrade, displaySubjectCombo: true, distinctSubjectsList: distinctSubjectsList, existingData: undefined}) -%>    
        <% } %> 

        <!--Status -->
        <%#- include('statusList') -%>

        <!--Display the items -->
        <div class="row form-row form-group">
          <label for="<%= dbConfig.colTitle%>" class="col-sm-3 col-form-label"><%= dbConfig.descTitle%>:</label>
          <div class="col-sm-8">
            <input  type="text"  id="<%= dbConfig.colTitle%>" class="form-control" name="<%= dbConfig.colTitle%>" required />
          </div>
        </div>
        <div class="row form-row form-group">
          <label for="<%= dbConfig.colHwrkDesc%>" class="col-sm-3 col-form-label"><%= dbConfig.descHwrkDesc%>:</label>
          <div class="col-sm-8">
            <textarea type="text" rows="5" id="<%= dbConfig.colHwrkDesc%>" class="form-control" name="<%= dbConfig.colHwrkDesc%>"></textarea>
          </div>
        </div>

        <div class="row form-row form-group ">
          <label for="<%= dbConfig.colFilePath%>" class="col-sm-3 col-form-label "><%= dbConfig.descFilePath%>:</label>
          <div class="col-sm-8 ">
            <input  type="file"  id="<%= dbConfig.colFilePath%>" name="<%= dbConfig.colFilePath%>"/>
          </div>
        </div>
        
        <input type="submit" class="btn btn-dark" value="Submit" />
      </form>
    </div>
    <%- include('footerIncludes'); -%>
  </body>
</html>
