<html>
  <%- include('headerIncludes'); -%>
  <body>
    <%- include('navbar', {displayPage: 'userPage', userName: requesterInfo[dbConfig.colUserName], roles: [requesterInfo[dbConfig.colRole], requesterInfo[dbConfig.colAdmin]]}); -%>
    <div class="jumbotron cust-jumbotron justify-content-center  ml-5 mr-5 border-bottom border-top">
      <h5 class="text-center">Answer</h5>
      <a href="/homework/<%=homeworkID%>/answer" class="btn btn-sm rounded-0 btn-over-stretched" role="button" data-placement="top">Back</a>
    </div>

    <!--
      answerData: resultAnswerList[0],
              homeworkID: request.params.hwID,
              requesterInfo: request.userInfo,
              dbConfig,
    -->

    <!--Display all the important info as one liners-->
    <div class="container  justify-content-center mt-5 cust-text-color">
      <!--for each homework there will be a row-->
        <div class="row no-gutters position-relative ml-4 cust-border-round">
          <!--For adding homework details-->
          <div class="col-sm-8 position-static pt-sm-2 ml-4"> <!--pb-3 pr-sm-5 pt-sm-5 mt-4-->
            <% if(answerData[dbConfig.colSubmittedAt] !== undefined && answerData[dbConfig.colSubmittedAt] != null && answerData[dbConfig.colSubmittedAt] !== '' ) {%> 
              <div class="row mb-2">
                <div class="col-4"><i><b><%=dbConfig.descSubmittedAt%>: </b></i></div>
                <div class="col"><%=answerData[dbConfig.colSubmittedAt].toDateString()%></div>
              </div>
            <% } %> 
            
            <div class="row mb-2">
              <div class="col-4"><i><b><%=dbConfig.descDesc%>: </b></i></div>
              <div class="col"><%=answerData[dbConfig.colDesc]%></div>
            </div>
            <% if(answerData[dbConfig.colUpdatedAt] !== undefined) {%> 
              <% if(answerData[dbConfig.colUpdatedAt] !== undefined && answerData[dbConfig.colUpdatedAt] != null && answerData[dbConfig.colUpdatedAt] !== '' ) {%> 
                <div class="row mb-2">
                  <div class="col-4"><i><b><%=dbConfig.descUpdatedAt%>: </b></i></div>
                  <div class="col"><%=answerData[dbConfig.colUpdatedAt].toDateString()%></div>
                </div>
              <% } %>               
            <% } %>
            <div class="row mb-2">
              <div class="col-4"><i><b><%=dbConfig.descFilePath%>: </b></i></div>
              <div class="col">
                <a href="/<%=answerData[dbConfig.colFilePath]%>" class="text-dark"><i><%=answerData[dbConfig.colFilePath]%></i></a>
              </div>

            </div>
          </div>
          <!--To add the edit and delete buttons-->
          <div class="col-sm-2 card card-body cust-bg-color border-0">
            <div>
              <a href="/homework/<%=homeworkID%>/answer/<%=answerData[dbConfig.colID]%>/edit" class="btn btn-sm rounded-0 btn-over-stretched m-3" role="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit fa-lg"></i> Edit</a>
              <form
                class="btn-form mr-1"
                action="/homework/<%=homeworkID%>/answer/<%=answerData[dbConfig.colID]%>/delete?_method=DELETE"
                method="POST"
              >
                <button class="btn btn-sm rounded-0 btn-over-stretched m-3" data-placement="top"><i class="fa fa-trash fa-lg"></i> Delete</button>
              </form>
            </div>
          </div>
        </div>
    </div>
    
    <%- include('footerIncludes'); -%>
  </body>
</html>

